<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang=en xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="How to completely remove yourself from
  reddit. Deletes all your submissions and Comments." />
  <title>{% block title %}Reddit Account Deleter{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css" media="all" />

</head>
<body>

<div id="wrap">
  <div id="body">
    <div id="main">
      <h1>{% block heading %}Reddit Account Deleter{% endblock heading %}</h1>
      <hr>
      {% block content %}{% endblock %}
    </div>
  <div class="clear"></div>
  </div>

  <div id="footer">
    Created by <a href="www.reddit.com/u/_Daimon_">_Daimon_</a>.
  </div>
</div>

</body>
</html>
