<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="How to completely remove yourself from
  reddit. Deletes all your submissions and Comments. Resets saved, hidden and votes you've made." />
  <title>Reddit Account Deleter</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css" media="all" />

</head>
<body>

<div id="wrap">
  <h1>Reddit Account Deleter</h1>

  <div id="body">
    <div id="main"><h2>Deleting your reddit account</h2>
      Just do it man!
    </div>
  <div class="clear"></div>
  </div>

  <div id="footer">
    Created by <a href="www.reddit.com/u/_Daimon_">_Daimon_</a>.
  </div>
</div>

</body>
</html>
