<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="How to completely remove yourself from
  reddit. Deletes all your submissions and Comments." />
  <title>Reddit Account Deleter</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css" media="all" />

</head>
<body>

<div id="wrap">
  <div id="body">
    <div id="main">
      <h1>Reddit Account Deleter</h1>
      <hr>
      {% if not error_message %}
        <p>The process of nuking the '{{ identity }}' account has begun.</p>
      {% else %}
      <p><strong>ERROR:</strong> {{ error_message }}.</p>
      {% endif %}
    </div>
  <div class="clear"></div>
  </div>

  <div id="footer">
    Created by <a href="www.reddit.com/u/_Daimon_">_Daimon_</a>.
  </div>
</div>

</body>
</html>
